.contact_me {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
}

.max-width {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_me_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 96px 144px 96px;
    width: 100%;
    gap: 48px;
}

.text_container {
    flex: 1;

    >span {
        font-family: 'Karla';
        font-size: 24px;
        color: #3DCFB6;
        font-weight: 500;
    }

    >h2 {
        line-height: 100%;
        margin-top: 20px;
    }
}

.text {
    >span {
        font-family: 'Fira-Code';
        font-weight: 700;
        font-size: 24px;
        color: #3DCFB6;
    }

    >p {
        font-family: 'Karla';
        color: white;
        font-weight: 400;
        font-size: 16px;

        >span {
            color: #3DCFB6;
            font-weight: 700;
        }
    }
}

.form_container {
    width: 616px;



}

p {
    white-space: pre-line;
}



.feedback {
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); // Overlay bleibt
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        pointer-events: none;
        transition: opacity 0.3s ease;

        &.visible {
            opacity: 1;
            pointer-events: auto;
        }

        .dialog {
            background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
            border: 1px solid #3DCFB6;
            border-radius: 30px;
            padding: 40px;
            font-family: 'Karla';
            font-size: 18px;
            font-weight: 400;
            color: white;
            text-align: center;

            opacity: 0;
            transform: translateX(100%);
            animation-fill-mode: forwards;

            &.success_msg span {
                color: #3DCFB6;
                font-family: 'Fira-Code';
                font-size: 24px;
                font-weight: 700;
            }

            &.error_msg span {
                color: #EC7b7b;
                font-family: 'Fira-Code';
                font-size: 24px;
                font-weight: 700;
            }
        }

        // Animation nur auf Dialog
        &.visible .dialog {
            animation: slideIn 0.5s ease forwards, slideOut 0.5s ease 4s forwards;
        }

        @keyframes slideIn {
            0% {
                transform: translateX(100%);
                opacity: 0;
            }



            100% {
                transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes slideOut {
            0% {
                transform: translateX(0);
                opacity: 1;
            }

            100% {
                transform: translateX(-100%);
                opacity: 0;
            }
        }
    }