<section class="contact_me">
    <div class="max-width">
        <div class="contact_me_content">
            <section class="text_container reveal-left">
                <span>{{ 'contactMe.section' | translate }}</span>
                <h2>{{ 'contactMe.title' | translate }}</h2>
                <div class="text">
                    <span>{{ 'contactMe.prompt' | translate }}</span>
                    <p>{{ 'contactMe.general' | translate }}
                        <br><br>{{ 'contactMe.prompt2' | translate }} <span>{{ 'contactMe.letsTalk' | translate }}</span>
                    </p>
                </div>
            </section>
            <section class="form_container reveal-right">
                <app-contactform (feedback)="handleFeedback($event)"></app-contactform>
            </section>
        </div>
    </div>
    <div class="feedback" [class.visible]="showFeedback" (click)="closeFeedback()">
    <section class="dialog success_msg" *ngIf="showFeedback && !errorMessage">
        <span>{{ 'contactForm.success' | translate }}</span>
        <p>{{ 'contactForm.successText' | translate }}</p>
    </section>
    <section class="dialog error_msg" *ngIf="showFeedback && errorMessage">
        <span>{{ 'contactForm.error' | translate }}</span>
        <p>{{ 'contactForm.errorText' | translate }}</p>
    </section>
</div>
</section>