.contact_me {
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-width {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_me_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 144px 96px;
    width: 100%;
    gap: 48px;
}

.text_container {
    flex: 1;

    >span {
        font-family: 'Karla';
        font-size: 24px;
        color: #3DCFB6;
        font-weight: 500;
    }

    >h2 {
        line-height: 100%;
        margin-top: 20px;
    }
}

.text {
    >span {
        font-family: 'Fira-Code';
        font-weight: 700;
        font-size: 24px;
        color: #3DCFB6;
    }

    >p {
        font-family: 'Karla';
        color: white;
        font-weight: 400;
        font-size: 16px;

        >span {
            color: #3DCFB6;
            font-weight: 700;
        }
    }
}

.form_container {
    width: 616px;



}

p {
    white-space: pre-line;
}