.portfolio_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog {
    display: flex;
    padding: 64px;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    max-width: 1250px;
    max-height: 656px;
    margin: 64px;
}

.content_left {
    >h2 {
        color: white;
        line-height: 80%;
    }

    >span {
        font-family: 'Karla';
        font-size: 128px;
        font-weight: 700;
        color: #3DCFB6;
    }
}



.about_the_project {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 40px;

    >.description {
        margin: 0;
        font-family: 'Karla';
        font-size: 18px;
        color: white;
    }

    >.headline {
        margin: 0;
        font-family: 'Fira-Code';
        font-weight: 700;
        font-size: 24px;
        color: #3DCFB6;
    }

    >div {
        display: flex;
        align-items: center;
        font-family: 'Karla';
        font-size: 18px;
        color: white;

        >span {
            padding-left: 4px;
            padding-right: 16px;
        }
    }
}

.links {
    display: flex;
    gap: 32px;

    >a {
        cursor: pointer;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 100px;
        padding: 13px 24px;
        font-family: 'Karla';
        font-size: 18px;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        transition: color 0.3s ease, border-color 0.3s ease;



        >img {
            height: 20px;
            width: 20px;
            transform: rotate(-45deg);
            transition: transform 0.3s ease;
        }




        &:hover {
            color: #3DCFB6;
            border-color: #3DCFB6;

            >img {
                transform: rotate(-45deg) translate(4px, 1px); // nach oben links verschieben
            }

        }
    }

}

.content_right {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    >img {
        height: 370px;
        width: 520px;
        border-radius: 30px;
        margin-left: 64px;
    }
}

.close_btn {
    background-color: transparent;
    border: none;
    background-image: url('./../../../../assets/img/portfolio/close.png');
    background-size: cover;
    height: 48px;
    width: 48px;
    position: relative;
    cursor: pointer;
}

/* Hover-Bild als Overlay */
.close_btn::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('./../../../../assets/img/portfolio/close_hover.png');
    background-size: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.close_btn:hover::after {
    opacity: 1;
}

.next_btn {
    background-color: transparent;
    border: none;
    color: #3DCFB6;
    font-family: 'Karla';
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;

    >span {
        background-image: url('./../../../../assets/img/portfolio/arrow.png');
        width: 40px;
        height: 40px;
    }

    &:hover {
        cursor: pointer;
        color: white;

        >span {
            background-image: url('./../../../../assets/img/portfolio/arrow_hover.png');
        }
    }
}