header {
    position: fixed;
    height: 98px;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13.56%, rgba(0, 0, 0, 0.6) 84.01%);
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease-in-out, opacity 2s ease;
}


.max-width {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    >a {
        display: flex;
        height: 80px;
        width: 320px;
        background-image: url('./../../../assets/img/logo_wb.png');
        background-position: center;
        background-size: 130%;
        margin-right: 96px;

        &:hover {
            background-image: url('./../../../assets/img/logo_wb_hover.png') !important;
        }
    }
}


.language_btn {
    cursor: pointer;
    width: 84px;
    height: 28px;
    background-image: url('./../../../assets/img/deutsch.png');
    border: none;
    background-color: transparent;

    &:hover {
        background-image: url('./../../../assets/img/deutsch\ hover.png');
    }
}


.language_en {
    background-image: url('./../../../assets/img/default.png');

    &:hover {
        background-image: url('./../../../assets/img/default hover.png');
    }
}


.nav_link.active {
    color: rgba(106, 215, 191, 1) !important;

    >.dot {
        position: absolute;
        bottom: 28px;
        background-color: rgba(106, 215, 191, 1);
        width: 8px;
        height: 8px;
        border-radius: 50%;
    }
}


.header_left,
.mobile_menu_dialog {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    margin-left: 96px;

    >a {
        text-decoration: none;
        color: white;
        font-family: 'Fira-Code';
        font-size: 20px;
        font-weight: 400;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;

        &:hover .dot {
            position: absolute;
            bottom: 28px;
            background-color: rgba(106, 215, 191, 1);
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
    }
}


.hidden {
    transform: translateY(-100%);
}


.header_mobile {
    display: none;
}


.mobile_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}


.mobile_menu_dialog {
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    border: 1px solid #3DCFB6;
    border-radius: 30px;
    height: 252px;
    width: 238px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    top: 80px;
    right: 16px;

    >a {
        position: relative;

        >.dot {
            bottom: -10px;
        }

        &:hover .dot {
            bottom: -10px;
        }
    }
}


.mobile_menu.open {
    display: flex;
}


@media (max-width: 1023px) {
    .max-width {
        flex-direction: row-reverse;
    }

    .max-width {
        >a {
            margin-right: 0;
        }
    }

    .header_left {
        display: none;
    }

    .header_mobile {
        background-image: url('./../../../assets/img/menu_icon.png');
        background-repeat: no-repeat;
        height: 48px;
        width: 48px;
        display: flex;
        padding-right: clamp(16px, 5vw, 96px);
        cursor: pointer;

        &:active {
            background-image: url('./../../../assets/img/menu_icon_hover.png');
        }
    }
}