.references {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
}

.max-width {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.references_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 144px;

}


.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 42px 0;
    gap: 64px;
    overflow-x: clip;
}

.arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
}

.dot.active {
    background-color: #3DCFB6;
}

.arrow {
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
}

.left {
    background-image: url('./../../../assets/img/arrow_left.png');

    &:hover {
        cursor: pointer;
        background-image: url('./../../../assets/img/arrow_left_hover.png');
    }
}


.right {
    background-image: url('./../../../assets/img/arrow_right.png');

    &:hover {
        cursor: pointer;
        background-image: url('./../../../assets/img/arrow_right_hover.png');
    }
}

.card {
    font-family: 'Karla';
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    border: 1px solid #3DCFB6;
    border-radius: 32px;
    background: #3DCFB61A;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 552px;
    height: 178px;
    position: absolute;
    transition: all 0.4s ease;

    >p {
        margin: 0;
    }

}

.card.hidden {
    opacity: 0;
    pointer-events: none;
}

.card.active {
    transform: translateX(0) scale(1);
    background: #3DCFB64D;
    z-index: 5;
}

/* links neben active */
.card.prev1 {
    transform: translateX(-110%) scale(0.9);
    z-index: 4;
}

.card.prev2 {
    opacity: 0;
    transform: translateX(-220%) scale(0.7);
    z-index: 3;
}

/* rechts neben active */
.card.next1 {
    transform: translateX(110%) scale(0.9);
    z-index: 4;
}

.card.next2 {
    opacity: 0;
    transform: translateX(220%) scale(0.7);
    z-index: 3;
}


.info {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.vector {
    border: 1px solid rgba(255, 255, 255, 0.8);
    flex: 1;
    height: 0px;
}

.shadow {
    position: absolute;
    top: 84px;
    bottom: 220px;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #1C1C1C 0%, rgba(28, 28, 28, 0) 10%, rgba(28, 28, 28, 0) 90%, #1C1C1C 100%);
    z-index: 100;

}

.card img {
    width: 89px;
    height: 64px;
    position: absolute;
    top: -10px;
    left: -44px;
}

.quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 632px;
    height: 274px;
    position: relative;
    z-index: 100;

    >img {
        position: absolute;
        top: -10px;
        left: -44px;
    }
}