<section class="references">
    <div class="max-width">
        <div class="references_content">
            <h4>{{ 'references.title' | translate }}</h4>
            <div class="carousel">
                <div class="shadow">
                </div>
                                <div class="quotes">
                    <img  src="/assets/img/quotes.png" alt="">
                </div>

                <div class="card" *ngFor="let feedback of feedbackList; let i = index" [ngClass]="getCardClass(i)">

                    <p>{{ 'references.feedback.' + feedback.id + '.text' | translate }}</p>
                    <div class="info">
                        <div class="vector"></div>
                        <span>{{ feedback.name }} - {{ feedback.role }}</span>
                    </div>
                </div>
            </div>
            <div class="arrows">
                <button class="arrow left" (click)="showPreviousFeedback()"></button>
                <div class="dot" *ngFor="let feedback of feedbackList; let i = index"
                    [class.active]="i === currentFeedbackIndex"></div>
                <button class="arrow right" (click)="showNextFeedback()"></button>
            </div>
        </div>
    </div>
</section>