@font-face {
    font-family: 'Karla';
    src: url('assets/fonts/Karla/Karla-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira-Code';
    src: url('assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
}

:root {
    --mx: 50%;
    --my: 50%;
    --spot-size: 80px;
    --spot-color: rgba(61, 207, 182, 0.5);
    ;
}

body {
    margin: 0;
    scroll-behavior: smooth;
    background-image: linear-gradient(to bottom left, #08463b, #1c1c1c 60%);


}

.spotlight-overlay {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
    background:
        radial-gradient(circle at var(--mx) var(--my),
            var(--spot-color) 0,
            transparent var(--spot-size));
}

h1 {
    font-family: 'Karla';
    font-size: clamp(62px, 8vw, 128px);
    font-weight: 700;
    font-style: bold;
}

h2 {
    color: #3DCFB6;
    font-family: 'Fira-Code';
    font-size: clamp(56px, 4vw, 64px);
    font-weight: 700;
    margin: 0;
    padding-bottom: 40px;
}

h3 {
    font-family: 'Fira-Code';
    font-size: clamp(24px, 2.5vw, 40px);
    font-weight: 400;
}

h4 {
    font-family: 'Fira-Code';
    font-size: clamp(24px, 2vw, 32px);
    font-weight: 700;
    color: #3DCFB6;
    margin: 0;
}

h6 {
    font-family: Karla;
    font-size: 19px;
    font-weight: 700;
    color: white;
    margin: 0;
}



body {
    --sb-track-color: #1c1c1c;
    --sb-thumb-color: #08463b;
    --sb-size: 8px;
}

/* Webkit-Browser (Chrome, Safari) */
::-webkit-scrollbar {
    width: var(--sb-size);
}

::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 0;
    /* Track eckig → keine weißen Punkte */
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 8px;
    /* nur Thumb rund */
    border: none;
    min-height: 30px;
    /* optional: Thumb-Höhe minimal */
    background-clip: content-box;
    /* sauberes Rendern */
}

/* Firefox fallback */
@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        scrollbar-width: thin;
    }
}

.no-scroll {
    overflow: hidden;
}


.reveal-left,
.reveal-right {
    opacity: 0;
    transition: all 0.8s ease-out;
}

.reveal-left {
    transform: translateX(-80px);
}

.reveal-right {
    transform: translateX(80px);
}

.reveal-visible {
    opacity: 1;
    transform: translateX(0);
}




/* Restliche Elemente unsichtbar am Anfang */
.landing_page>.max-width>*:not(.title_container),
.title_container .title_div>div,
.marquee,
.right_lateral,
.left_lateral,
header {
    opacity: 0;
    transition: opacity 2s ease;
}

/* Sichtbar-Klasse */
.landing_page>.max-width>*:not(.title_container).visible,
.title_container .title_div>div.visible,
.marquee.visible,
.right_lateral.visible,
.left_lateral.visible,
header.visible {
    opacity: 1;
}


.privacy_policy_elements a {
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #3DCFB6;
    word-wrap: break-word;
    /* Alte Variante, funktioniert überall */
    overflow-wrap: break-word;
    /* Moderne Variante */

    &:hover {
        text-decoration: underline;
        text-decoration-color: #3DCFB6;
        text-underline-offset: 4px;
        color: white;
    }
}


@media (max-width: 1023px) {

    h2 {
        line-height: 80%;
    }
}