    form {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .form_group {
        width: 552px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px;
        cursor: pointer;
        border-width: 1px 0px;
        border-style: solid;
        border-color: rgba(61, 207, 182, 0.5);
        animation-timing-function: ease-in;
        animation-duration: 100ms;

        &:hover {
            border-color: rgba(61, 207, 182, 1);


            >input::placeholder {
                color: white;
            }

            >input.error::placeholder {
                color: rgba(236, 123, 123, 0.8);
            }
        }

        >label {
            font-size: 24px;
            font-family: 'Fira-Code';
            font-weight: 500;
            color: #3DCFB6;
            cursor: pointer;
        }
    }


    input {
        background-color: transparent;
        color: white;
        font-family: 'Karla';
        font-weight: 400;
        font-size: 18px;
        border: none;
        cursor: pointer;
    }

    input:focus {
        outline: none;
        /* Standard-Browser-Umrandung weg */
        border: none;
        /* Falls du auch keinen Border willst */
        box-shadow: none;
        /* Manche Browser nutzen stattdessen Schatten */
    }

    // Autofill fix
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-text-fill-color: #fff !important;
        box-shadow: 0 0 0px 1000px #1c1c1c inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    .form_group.error {
        border-color: rgba(61, 207, 182, 1);
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.8);
    }


    input.error::placeholder {
        color: rgba(236, 123, 123, 0.8);
    }

    /* Für Webkit-Browser (Chrome, Safari) */
    input.error::-webkit-input-placeholder {
        color: rgba(236, 123, 123, 0.8);
    }

    /* Für Firefox */
    input.error::-moz-placeholder {
        color: rgba(236, 123, 123, 0.8);
    }

    /* Für IE 10+ */
    input.error:-ms-input-placeholder {
        color: rgba(236, 123, 123, 0.8);
    }

    .submit_btn {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 100px;
        padding: 13px 24px;
        font-family: 'Karla';
        font-size: 18px;
        text-decoration: none;
        transition: color 0.8s ease, border-color 0.8s ease;
        overflow: hidden;
        display: inline-block;
        position: relative;
        width: fit-content;
        ;

        span {
            display: inline-block;
            white-space: nowrap;
            position: relative;
            transform: translateX(0);
        }

        &:hover:not(:disabled) {
            cursor: pointer;
            border-color: rgba(61, 207, 182, 1);
            color: rgba(61, 207, 182, 1);

            span {
                animation: scrollText 2.4s linear infinite;
            }
        }

        &:disabled {
            border: 1px solid rgba(255, 255, 255, 0.5);
            color: rgba(255, 255, 255, 0.5);
        }
    }

    @keyframes scrollText {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(-200%);
        }
    }

    .privacy {
        padding: 40px 0px 16px 0px;
        height: 63px;
    }

    .checkbox {
        width: 616px;
        flex-direction: row;
        border: none;
        padding: 0;
        cursor: auto;


        >label {
            font-family: 'Karla';
            color: white;
            font-size: 15px;
            font-weight: 400;

            >a {
                font-family: 'Fira-Code';
                font-size: 15px;
                font-weight: 400;
                text-decoration: none;
                color: #3DCFB6;

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: #3DCFB6;
                    text-underline-offset: 4px;
                    color: white;
                }
            }


        }


    }

    .error_msg {
        font-family: 'Karla';
        font-size: 14px;
        font-weight: 400;
        margin: 0;
        padding-top: 8px;
        color: rgba(236, 123, 123, 1);
        ;
    }


    .feedback {
        opacity: 0;
        transition: opacity 1s ease; // 1 Sekunde Fade
        margin-top: 1rem;
        font-size: 0.9rem;

        &.visible {
            opacity: 1;
        }

        .success_msg {
            color: #2e7d32; // grün
        }

        .error_msg {
            color: #c62828; // rot
        }
    }


    .form_group.checkbox {
        display: flex;
        align-items: center;
        justify-content: center;


        input[type="checkbox"] {
            appearance: none;
            -webkit-appearance: none;
            width: 24px;
            height: 20px;
            background-color: #1c1c1c;
            border: 2px solid #3DCFB6;
            border-radius: 4px;
            cursor: pointer;
            position: relative;
            box-sizing: border-box; // sehr wichtig!
            transition: all 0.2s ease;

            &:checked::after {
                content: '';
                position: absolute;
                top: 40%;
                left: 50%;
                width: 4px;
                height: 10px;
                border: solid #3DCFB6;
                border-width: 0 2px 2px 0;
                transform: translate(-50%, -50%) rotate(45deg); // zentriert Haken
            }

            &:hover {
                background-color: rgba(61, 207, 182, 0.3);
            }
        }
    }