footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 400;
    background-color: #1c1c1c;
}

.footer-legal {
    background-color: transparent; // Legal Notice
}

.max-width {
    max-width: 1920px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_content {
    width: 100%;
    padding-bottom: 40px;


    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    >p {
        font-family: 'Fira-Code';
        font-size: 18px;
        color: #3DCFB6;
    }

}


.footer_left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
    padding-left: clamp(16px, 5vw, 96px);

    >a {
        background-image: url('./../../../assets/img/logo_wb.png');
        width: 320px;
        height: 126px;
        background-position: center;
        background-size: 150%;

        &:hover {
            background-image: url('./../../../assets/img/logo_wb_hover.png');
        }
    }

    >div {
        display: flex;
        flex-direction: column;
        gap: 8px;

        >p {
            margin: 0;
        }
    }
}

.socials {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    padding-right: clamp(16px, 5vw, 96px);

    >div {

        >a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;

            text-decoration: none;
            color: white;
            transition: all 0.3s ease-out;

            &:hover {
                color: #3DCFB6;

                .dot {
                    opacity: 1;
                }
            }
        }

    }
}

.dot {
    display: flex;
    opacity: 0;
    width: 7px;
    height: 7px;
    background-color: #3DCFB6;
    border-radius: 50%;
    transition: all 0.3s ease-out;
}

.p_mobile {
    display: none;
}

@media (max-width: 1023px) {

    .max-width {
        flex-direction: column;
    }

    .footer_content {
        padding-bottom: 0;

        >p {
            display: none;
        }
    }

    .p_mobile {
        display: flex;
        font-family: 'Fira-Code';
        font-size: 18px;
        color: #3DCFB6;
    }
}

@media (max-width: 767px) {

    .socials {
        width: fit-content;
    }
}

@media (max-width: 480px) {

    .footer_content {
        flex-direction: column;
    }

    .socials {
        align-items: center;
        padding-right: 0;
    }

    .footer_left {
        padding-left: 0;

        >a {
            width: 90vw;
            max-width: 320px;
        }
    }



}