<section class="portfolio">
    <div class="max-width">
        <div class="portfolio_content">
            <span>{{ 'portfolio.section' | translate}}</span>
            <h2>{{ 'portfolio.title' | translate}}</h2>
            <div>
                <section class="project_overview">
                    <p>{{ 'portfolio.general' | translate}}</p>
                    <div class="project_card animation" *ngFor="let project of projectlist; let i = index"
                        (mouseenter)="hoveredIndex = i" (mouseleave)="hoveredIndex = null" (click)="openDialog(i)">
                        <div class="title">
                            <p>{{ project.title }}</p>
                            <img src="assets/img/arrow_outward.png" alt="">
                        </div>
                        <div class="skills">
                            <ng-container *ngFor="let skill of project.skills; let i = index">
                                <p>{{ skill }}</p>
                                <div *ngIf="i < project.skills.length - 1" class="skill-separator">|</div>
                            </ng-container>
                        </div>
                    </div>
                </section>
                <section class="project_preview">
                    <div class="preview_card" *ngFor="let project of projectlist; let index = index"
                        [ngStyle]="{ 'top.px': 56 + (index * 80) }"
                        [style.display]="hoveredIndex === index ? 'flex' : 'none'">
                        <img class="preview_image" src="{{ project.imagePreview }}" alt="{{ project.title }}">
                        <img class="preview_background" src="assets/img/portfolio/background.png" alt="background">
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<app-portfolio-overlay *ngIf="selectedProjectIndex !== null" [currentIndex]="selectedProjectIndex"
    [projectlist]="projectlist" (closed)="selectedProjectIndex = null"></app-portfolio-overlay>